.hotel-image-case{padding-bottom:0}
.hotel-image-sequence{font-size:0;line-height:0;margin:0;padding:0;width:100%}
.hotel-image-sequence img{border:0;display:block;height:auto;margin:0;max-width:none;padding:0;width:100%}
